<!--Für jeden Inhalt wird eigene Karte erstellt und angezeigt-->

<div class="container container-top">
  <div class="row">
     <div class="col-md-4" *ngFor="let content of contents">
       <div class="card mb-4">
         <div class="card-body">
           <h5 class="card-title">{{ content.heading }}</h5>
           <p (click)="addFavourite(content.id)" class="btn" icon>addFavo</p>
           <p (click)="removeFavourite(content.id)" class="btn" icon>removeFavo</p>
           <p class="card-text">{{ content.description }}</p>
            <img src ="../../assets/filetypepics/{{content.file_format}}.png"  
                  style="width: 100px;height: 100px;">
           <a (click)="downloadFile(content.pdf_file_url)" class="btn" target="_blank" rel="noopener noreferrer">Download</a>
         </div>
       </div>
     </div>
  </div>
 </div>
