<!--Navbar, die noch auf Mobile angepasst werden muss -> BurgerMenu-->

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand text" href=""><img src="../../../assets/logo_first_draft.png" alt="" style="height: 4rem;"></a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link text" routerLink="/login">Einloggen</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link text" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link text" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link text" routerLink="/contents">Inhalte</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link text" routerLink="/tools">Tools</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link text" (click)="logout()" routerLink="/">Ausloggen</a>
        </li>
      </ul>

      <!--hier soll dann die Suche hin, ist aber noch viel zu tun-->
      <!-- <form class="form-inline my-2 my-lg-0">
        <button *ngIf="isLoggedIn && !showSearchInputField" class="btn"><i class="fas fa-search" (click)="toggleSearchInput()"></i></button>
        <input class="form-control mr-sm-2" type="search" placeholder="Suche" aria-label="Search" #searchTerm [style.display]="showSearchInputField ? 'block' : 'none'" (focus)="showSearchInput()" (blur)="hideSearchInput()">
        <button *ngIf="isLoggedIn && showSearchInputField" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search(searchTerm.value)">Suche</button>
      </form> -->
    </div>
  </div>
</nav>
