<!--Admin HTML Seite
Für jeden zu prüfenden Upload wird eine Karte erstellt mit den wichtigen Infos,
einem Download-Button und einem Button, der den Datenbankeintrag von is_approved auf true setzt -->

<div class="container container-top">
  <h1 class="display-4">Adminpanel</h1>
  <div class="row align-items-center">
    <div class="col">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="inhalte" data-bs-toggle="tab" data-bs-target="#inhalte-tab-pane"
            type="button" role="tab" aria-controls="inhalte-tab-pane" aria-selected="true">Neue Inhalte <span
              class="badge" *ngIf="contents.length > 0">{{contents.length}}</span> </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="anmeldungen" data-bs-toggle="tab" data-bs-target="#anmeldungen-tab-pane"
            type="button" role="tab" aria-controls="anmeldungen-tab-pane" aria-selected="false">Neue Anmeldungen <span
              class="badge" *ngIf="unregisteredUsers.length > 0">{{unregisteredUsers.length}}</span></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="rollen" data-bs-toggle="tab" data-bs-target="#rollen-tab-pane" type="button"
            role="tab" aria-controls="rollen-tab-pane" aria-selected="false">Weitere Funktionen</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="inhalte-tab-pane" role="tabpanel" aria-labelledby="inhalte"
          tabindex="0">
          <div class="container tabs">
            <div class="row" *ngFor="let content of contents">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-start">
                    <h5 class="card-title">{{ content.heading }} </h5>
                    <button class="favorite-btn" data-bs-toggle="modal" (click)="createContentForm(content.id)"
                      data-bs-target="#changeModal">
                      <img src="assets/edit-pencil.png">
                    </button>
                  </div>
                  <div class="d-flex justify-content-between align-items-start"></div>
                  <p class="card-text">{{ content.description }}</p>
                  <div style="float: right;">
                    <a (click)="downloadFile(content.pdf_file_url)" class="btn btn-primary" target="_blank"
                      rel="noopener noreferrer">Download</a>
                    <a (click)="setApproved(content.id)" class="btn btn-success">Geprüft</a>
                    <a data-bs-toggle="modal" data-bs-target="#commentModal" class="btn btn-danger"
                      (click)="saveCurrentId(content.id)">Ablehnen</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="anmeldungen-tab-pane" role="tabpanel" aria-labelledby="anmeldungen" tabindex="0">
          <div class="container tabs">
            <table *ngIf="unregisteredUsers.length > 0" class="table table-striped">
              <thead>
                <tr>
                  <th>Email</th>
                  <th>Vorname</th>
                  <th>Nachname</th>
                  <th>Schulnummer</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of unregisteredUsers">
                  <td><a href="mailto:{{user.email}}">{{ user.email }}</a></td>
                  <td>{{ user.firstname }}</td>
                  <td>{{ user.lastname }}</td>
                  <td>{{ user.school_number }}</td>
                  <td><button (click)="acceptNewUser(user.email)" class="btn btn-success">Annehmen</button></td>
                  <td><button (click)="declineNewUser(user.email)" class="btn btn-danger">Ablehnen</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="tab-pane fade" id="rollen-tab-pane" role="tabpanel" aria-labelledby="rollen" tabindex="0">
          <div class="container tabs">
            <h3 style="margin: 1rem 0;">Neuen Admin hinzufügen:</h3>
            <form [formGroup]="adminForm" (ngSubmit)="promoteToAdmin()">
              <div class="row">
                <div class="col-12 col-lg-2">
                  <label class="form-label">Email</label>
                </div>
                <div class="col-12 col-lg-6">
                  <input class="form-control" type="email" #email placeholder="mustermann@web.de" id="email" formControlName="email">
                </div>
                <div class="col-12 col-lg-4">
                  <button class="btn" type="submit" [disabled]="loading || !adminForm.valid">{{ loading ? 'Lade...' : 'Zum Admin machen' }}</button>
                </div>
              </div>
            </form>

            <hr>

            <h3 style="margin: 1rem 0;">Nutzermail ändern:</h3>
            <form [formGroup]="userForm" (ngSubmit)="changeUserMail()">
              <div class="row">
                <div class="col-12 col-lg-2">
                  <label class="form-label">Vorherige Email</label>
                </div>
                <div class="col-12 col-lg-6">
                  <input class="form-control" type="email" #email placeholder="mustermann@web.de" id="oldEmail" formControlName="oldEmail">
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-2">
                  <label class="form-label">Neue Email</label>
                </div>
                <div class="col-12 col-lg-6">
                  <input class="form-control" type="email" #email placeholder="mustermann@web.de" id="newEmail" formControlName="newEmail">
                </div>
                <div class="col-12 col-lg-4">
                  <button class="btn" type="submit" [disabled]="loading || !userForm.valid">{{ loading ? 'Lade...' : 'Mailadresse ändern' }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true"
  #commentModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Inhalt ablehnen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="disapproveForm" (ngSubmit)="setDisapproved()">
          <div class="mb-3">
            <label for="disapprovedReason" class="form-label">Ablehnungsgrund*</label>
            <select class="form-select" formControlName="disapprovedReason">
              <option value="">Wähle einen Grund aus</option>
              <option *ngFor="let reason of reasons" [ngValue]="reason">{{reason}}</option>
            </select>
          </div>
          <div class="mb-3" *ngIf="showCommentField">
            <label for="adminComment" class="form-label">Kommentar*</label>
            <textarea type="text" class="form-control" id="adminComment" formControlName="adminComment" rows="8"
              cols="50"></textarea>
          </div>
          <div class="mb-3">
            Mit * gekennzeichnete Felder sind verpflichtend.
          </div>
          <button type="submit" class="btn btn-danger" [disabled]="!disapproveForm.valid">Ablehnen</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Modal für das Bearbeiten von Content-->
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true"
  #changeModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeModalLabel">Neuen Inhalt hochladen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="changeForm" (ngSubmit)="changeContent()">

          <!-- Überschrift und Beschreibung -->
          <div class="mb-3">
            <label for="heading" class="form-label">Überschrift*</label>
            <input type="text" class="form-control" id="heading" formControlName="heading">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Beschreibung*</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
          </div>

          <!-- Mehrfachauswahl für Klassenstufe -->
          <div class="mb-3">
            <label for="gradeLevel" class="form-label">Klassenstufe*</label>
            <div class="form-check" *ngFor="let grade of gradeLevels">
              <input class="form-check-input" type="checkbox" [value]="grade" (change)="onGradeChange($event)">
              <label class="form-check-label">{{grade}}</label>
            </div>
          </div>

          <!-- Mehrfachauswahl für Thema -->
          <div class="mb-3">
            <label for="topic" class="form-label">Thema*</label>
            <div class="form-check" *ngFor="let topic of topics">
              <input class="form-check-input" type="checkbox" [value]="topic" (change)="onTopicChange($event)">
              <label class="form-check-label">{{topic}}</label>
            </div>
          </div>

          <!-- Mehrfachauswahl für Perspektiven -->
          <div class="mb-3">
            <label for="aspect" class="form-label">Perspektiven*</label>
            <div class="form-check" *ngFor="let aspect of aspects">
              <input class="form-check-input" type="checkbox" [value]="aspect" (change)="onAspectChange($event)">
              <label class="form-check-label">{{aspect}}</label>
            </div>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn" [disabled]="!changeForm.valid || !isValidSelection()">Hochladen</button>
        </form>
      </div>
    </div>
  </div>
</div>

