<!--Admin HTML Seite
Für jeden zu prüfenden Upload wird eine Karte erstellt mit den wichtigen Infos,
einem Download-Button und einem Button, der den Datenbankeintrag von is_approved auf true setzt -->

<div class="container">
  <h2 *ngIf="unregisteredUsers.length > 0">Unregistrierte Benutzer</h2>
  <table *ngIf="unregisteredUsers.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Schulnummer</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of unregisteredUsers">
        <td>{{ user.email }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.school_number }}</td>
        <td><button (click)="acceptNewUser(user.email)" class="btn btn-success">Annehmen</button></td>
        <td><button (click)="declineNewUser(user.id)" class="btn btn-danger">Ablehnen</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="unregisteredUsers.length > 0">
  <hr>
</div>

<div class="container">
  <h2>Zu prüfende Inhalte</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let content of contents">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ content.heading }}</h5>
          <p class="card-text">{{ content.description }}</p>
          <a (click)="downloadFile(content.pdf_file_url)" class="btn btn-primary" target="_blank"
            rel="noopener noreferrer">Download</a>
          <a (click)="setApproved(content.id)" class="btn btn-success">Geprüft</a>
          <a data-bs-toggle="modal" data-bs-target="#commentModal" class="btn btn-danger"
            (click)="saveCurrentId(content.id)">Ablehnen</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true"
  #commentModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Inhalt ablehnen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="uploadForm" (ngSubmit)="setDisapproved()">
          <div class="mb-3">
            <label for="disapprovedReason" class="form-label">Ablehnungsgrund*</label>
            <select class="form-select" formControlName="disapprovedReason">
              <option value="">Wähle einen Grund aus</option>
              <option *ngFor="let reason of reasons" [ngValue]="reason">{{reason}}</option>
            </select>
          </div>
          <div class="mb-3" *ngIf="showCommentField">
            <label for="adminComment" class="form-label">Kommentar*</label>
            <textarea type="text" class="form-control" id="adminComment" formControlName="adminComment" rows="8"
              cols="50"></textarea>
          </div>
          <div class="mb-3">
            Mit * gekennzeichnete Felder sind verpflichtend.
          </div>
          <button type="submit" class="btn btn-danger" [disabled]="!uploadForm.valid">Ablehnen</button>
        </form>
      </div>
    </div>
  </div>
</div>
