<div class="container container-top">
  <h1 class="display-6">Willkommen auf der Homepage der Digitalen Welt</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quas accusamus fugit vitae ipsa amet, architecto
    suscipit voluptas! Inventore, tempore laboriosam? Odit accusamus dolor quibusdam aliquid? Maiores molestiae ex
    sapiente soluta quaerat facilis. Ab, ullam laboriosam. Eos molestiae maiores vero adipisci itaque, quos perspiciatis
    in nisi? Sint quos obcaecati odit dignissimos, asperiores nobis expedita exercitationem tempora libero nihil, omnis
    dolorum itaque! Sit quos eaque vel necessitatibus id saepe maxime aliquam. Cum, laboriosam facilis? Deserunt placeat
    veritatis quidem, eius expedita a!</p>
  <p>Reprehenderit, natus! Commodi corrupti quo consequatur mollitia dignissimos corporis amet blanditiis accusamus
    fugiat. Sunt minus deserunt tempore, iure accusantium, molestiae et, quod doloribus eius ducimus architecto unde a
    natus autem amet possimus quaerat ipsum repellat odio aliquid neque voluptatum quibusdam asperiores voluptas! Quia
    autem unde labore deserunt odit iusto tenetur natus laboriosam sequi voluptatum! Voluptatem ratione in officia natus
    nostrum ut quisquam, quo eum repellat perspiciatis recusandae commodi harum quis consequuntur dolor magnam nisi amet
    hic repudiandae perferendis dolorem aliquid?</p>
  <p>Provident ratione porro ipsa aliquam saepe rerum officiis labore error tempora laborum illum quia, quos officia
    maiores vero qui deserunt molestiae eos cumque. Itaque repudiandae, doloribus et iste tempora, nobis adipisci
    dolorum excepturi consequatur laborum ad vero accusamus. Possimus omnis praesentium earum modi libero nam suscipit,
    veritatis sint nostrum minus esse itaque obcaecati ad ut et harum quasi eius cupiditate mollitia reiciendis culpa,
    excepturi consequuntur hic! Tempore beatae omnis cum, suscipit amet incidunt totam, debitis quo porro voluptate
    ipsum laudantium!</p>
</div>
