<!--Button zum öffnen des Modals zum Upload-->
<button type="button" class="round-button btn" data-bs-toggle="modal" data-bs-target="#uploadModal">
  <i class="fas fa-plus"></i>
</button>

<div class="container container-top">
  <div class="row">
    <div class="col-8">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Suche" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <button class="btn" (click)="search()"><i class="fas fa-search"></i></button>
        </span>
      </div>
    </div>
    <div class="col-4">
      <button class="btn" data-bs-toggle="modal" data-bs-target="#uploadModal" style="float: right; font-size: larger;">Neuen Inhalt hinzufügen</button>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <!-- Dropdown für Klassenstufen -->
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="gradeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Klassenstufen auswählen
        </button>
        <ul class="dropdown-menu" aria-labelledby="gradeDropdown">
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="5. Klasse" id="checkGrade5" (change)="onGradeChange($event)">
              <label class="form-check-label" for="checkGrade5">5. Klasse</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="6. Klasse" id="checkGrade6" (change)="onGradeChange($event)">
              <label class="form-check-label" for="checkGrade6">6. Klasse</label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Dropdown für Themen -->
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="topicDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Themen auswählen
        </button>
        <ul class="dropdown-menu" aria-labelledby="topicDropdown">
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Computer überall" id="checkTopic1" (change)="onTopicChange($event)">
              <label class="form-check-label" for="checkTopic1">Computer überall</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Informationen und Daten" id="checkTopic2" (change)="onTopicChange($event)">
              <label class="form-check-label" for="checkTopic2">Informationen und Daten</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Grundlagen der Programmierung" id="checkTopic3" (change)="onTopicChange($event)">
              <label class="form-check-label" for="checkTopic3">Grundlagen der Programmierung</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Vernetzung" id="checkTopic4" (change)="onTopicChange($event)">
              <label class="form-check-label" for="checkTopic4">Vernetzung</label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Dropdown für Perspektiven -->
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="aspectDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Perspektiven auswählen
        </button>
        <ul class="dropdown-menu" aria-labelledby="aspectDropdown">
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Anwendung" id="checkAspect1" (change)="onAspectChange($event)">
              <label class="form-check-label" for="checkAspect1">Anwendung</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Technologie" id="checkAspect2" (change)="onAspectChange($event)">
              <label class="form-check-label" for="checkAspect2">Technologie</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Wirkung" id="checkAspect3" (change)="onAspectChange($event)">
              <label class="form-check-label" for="checkAspect3">Wirkung</label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Filtern Button -->
    <div class="col">
      <button class="btn btn-primary" (click)="filterContent()">Filtern</button>
    </div>

    <div class="col">
      <button class="btn btn-primary" (click)="fetchContents()">Filter zurücksetzen</button>
    </div>
  </div>
</div>


<div class="container">
  <div class="row" *ngFor="let content of contents">
    <div class="col">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-5">
              <h5 class="card-title">{{ content.heading }}</h5>
            </div>
            <div class="col-4">
              <!-- Platz für Pillen -->
            </div>
            <div class="col-3">
              <button *ngIf="isAdmin" class="favorite-btn" data-bs-toggle="modal"
                (click)="createContentForm(content.id)" data-bs-target="#changeModal">
                <img src="assets/edit-pencil.png">
              </button>
              <button class="favorite-btn" (click)="toggleFavorite(content.id)">
                <ng-container *ngIf="isFavorite(content.id); else notFavorited">
                  <img src="assets/heart-filled.png" alt="Favorited">
                </ng-container>
                <ng-template #notFavorited>
                  <img src="assets/heart-outline.png" alt="Not Favorited">
                </ng-template>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <p>{{ content.description }}</p>
            </div>
            <div class="col-4">
              <img
                [src]="content.file_format ? '../../assets/filetypepics/' + content.file_format + '.png' : '../../assets/filetypepics/sonst.png'"
                class="file-format-img" style="float: right;">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <a (click)="downloadFile(content.pdf_file_url)" class="btn" target="_blank"
              rel="noopener noreferrer">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal für den Upload von neuem Content-->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true"
  #uploadModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Neuen Inhalt hochladen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
          <!-- Überschrift und Beschreibung -->
          <div class="mb-3">
            <label for="heading" class="form-label">Überschrift*</label>
            <input type="text" class="form-control" id="heading" formControlName="heading">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Beschreibung*</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
          </div>

          <!-- Mehrfachauswahl für Klassenstufe -->
          <div class="mb-3">
            <label for="gradeLevel" class="form-label">Klassenstufe*</label>
            <div class="form-check" *ngFor="let grade of gradeLevels">
              <input class="form-check-input" type="checkbox" [value]="grade" (change)="onGradeChange($event)">
              <label class="form-check-label">{{grade}}</label>
            </div>
          </div>

          <!-- Mehrfachauswahl für Thema -->
          <div class="mb-3">
            <label for="topic" class="form-label">Thema*</label>
            <div class="form-check" *ngFor="let topic of topics">
              <input class="form-check-input" type="checkbox" [value]="topic" (change)="onTopicChange($event)">
              <label class="form-check-label">{{topic}}</label>
            </div>
          </div>

          <!-- Mehrfachauswahl für Perspektiven -->
          <div class="mb-3">
            <label for="aspect" class="form-label">Perspektiven*</label>
            <div class="form-check" *ngFor="let aspect of aspects">
              <input class="form-check-input" type="checkbox" [value]="aspect" (change)="onAspectChange($event)">
              <label class="form-check-label">{{aspect}}</label>
            </div>
          </div>

          <!-- Datei hochladen -->
          <div class="mb-3">
            <label for="pdfFile" class="form-label">Datei hochladen*</label>
            <input type="file" class="form-control" id="pdfFile" (change)="onFileSelected($event)">
          </div>

          <!-- Bestätigung -->
          <div class="mb-3">
            Mit * gekennzeichnete Felder sind verpflichtend.
          </div>
          <div class="mb-3">
            <label for="commitment" class="form-check-label">
              Ich bestätige, dass der Inhalt von mir erstellt ist und wenn Fremdmaterial enthalten ist, dieses korrekt
              gekennzeichnet wurde.
            </label>
            <input type="checkbox" class="form-check-input" id="commitment" formControlName="commitment">
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn" [disabled]="!uploadForm.valid || !isValidSelection()">Hochladen</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal für das Bearbeiten von Content-->
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true"
  #changeModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeModalLabel">Inhalt Bearbeiten</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="changeForm" (ngSubmit)="changeContent()">

          <!-- Überschrift und Beschreibung -->
          <div class="mb-3">
            <label for="heading" class="form-label">Überschrift*</label>
            <input type="text" class="form-control" id="heading" formControlName="heading">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Beschreibung*</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
          </div>

          <!-- Mehrfachauswahl für Klassenstufe -->
          <div class="mb-3">
            <label for="gradeLevel" class="form-label">Klassenstufe*</label>
            <div class="form-check" *ngFor="let grade of gradeLevels">
              <input class="form-check-input" type="checkbox" [value]="grade" id="{{grade}}" (change)="onGradeChange($event)">
              <label class="form-check-label">{{grade}}</label>
            </div>
          </div>

          <!-- Mehrfachauswahl für Thema -->
          <div class="mb-3">
            <label for="topic" class="form-label">Thema*</label>
            <div class="form-check" *ngFor="let topic of topics">
              <input class="form-check-input" type="checkbox" [value]="topic" id="{{topic}}" (change)="onTopicChange($event)">
              <label class="form-check-label">{{topic}}</label>
            </div>
          </div>

          <!-- Mehrfachauswahl für Perspektiven -->
          <div class="mb-3">
            <label for="aspect" class="form-label">Perspektiven*</label>
            <div class="form-check" *ngFor="let aspect of aspects">
              <input class="form-check-input" type="checkbox" [value]="aspect" id="{{aspect}}" (change)="onAspectChange($event)">
              <label class="form-check-label">{{aspect}}</label>
            </div>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn" [disabled]="!changeForm.valid || !isValidSelection()">Hochladen</button>
        </form>
      </div>
    </div>
  </div>
</div>
