<!--Einfache Anmeldeseite für User-->

<div class="container container-top">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h2 class="display-4">Einloggen</h2>
          <p class="description">Die Anmeldung findet via Magic Link statt. Sie bekommen einen Link per Mail, über den
            Sie sich passwortlos anmelden. Sollten Sie sich zum ersten Mal anmelden, werden Sie automatisch registriert. Bitte
            geben Sie eine gültige Mailadresse an, da Sie sonst keinen Link erhalten können.</p>
          <form [formGroup]="signInForm" (ngSubmit)="signUp()">
            <label class="form-label">Passwort der Pilotschulen</label>
            <div class="row">
              <div class="col">
                <input class="form-control" type="password" #password id="password" formControlName="password">
              </div>
            </div>
            <label class="form-label">Email</label>
            <div class="row">
              <div class="col">
                <input class="form-control" type="email" #email placeholder="mustermann@schule.hessen.de" id="email"
                  formControlName="email">
                <div *ngIf="signInForm.controls.email.errors?.['invalidDomain']" style="margin-top: 1rem;">
                  Bitte verwenden Sie ihre Schul-Mailadresse <i>&#64;schule.hessen.de</i>
                </div>
              </div>
              <div class="col col-lg-3">
                <button class="btn" type="submit" [disabled]="loading || !signInForm.valid">{{ loading ? 'Lade...' :
                  'Sende Magic Link' }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
